//@theme "/usr/share/rofi/themes/solarized.rasi"

//@theme "/home/somya/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/somya/.local/share/rofi/themes/nord.rasi"

@theme "/home/somya/.local/share/rofi/themes/squared-everforest.rasi"
